body > #root > div {
  height: 100vh;
}

.form-container {
  max-width: 700px;
}

.tournament-container {
  height: 100%;
}

.bracket-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bracket-level {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  transition: all ease 0.5s;
}

.bracket-matchup {
  width: 90%;
  margin: auto;
  max-height: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bracket-matchup:hover {
  cursor: pointer;
}

.bracket-team {
  height: 45%;
  width: 100%;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  display: flex;
  flex-direction: row;
  transition: all ease 0.5s;
}

.bracket-name {
  width: 75%;
  font-size: 0.75em;
  padding: 0.2em;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #2b2b2b;
  text-align: center;
}

.bracket-score {
  font-size: 0.75em;
  padding: 0.2em;
  line-height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  color: #2b2b2b;
  text-align: center;
}

.winner > .bracket-name,
.winner > .bracket-score {
  font-weight: bold;
  color: #d07030;
}
